.likes {
  cursor: pointer;
}

.likes-icon {
  padding-right: 5px;
  font-size: x-large;
}

.code {
  background-color: rgb(233, 229, 229);
  border-radius: 0;
  border-color: rgb(233, 229, 229);
}

.asked {
  padding-right: 5px;
}

.answer {
  font-weight: bold;
}
