.likes {
  cursor: pointer;
}

.likes-icon {
  padding-right: 5px;
  font-size: x-large;
}

.hljs-string,
.hljs-section,
.hljs-selector-class,
.hljs-template-variable {
  color: #800;
}

.asked {
  padding-right: 5px;
}

.answer {
  font-weight: bold;
}
