.navbar {
  border-bottom: 1px solid rgb(173, 163, 163);
}

.brand {
  color: #17a2b8 !important;
  text-transform: uppercase;
  font-weight: bold;
}

.ask-question {
  text-transform: uppercase;
}

.home {
  color: black;
  font-size: large;
  padding-left: 5px;
  cursor: pointer;
}

.home:hover {
  text-decoration: none;
  color: #17a2b8;
}

.menu {
  color: black;
}

.search {
  border-color: rgb(133, 130, 130) !important;
}
